.idea
node_modules
.tmp
libs
test/libs
.DS_Store
.project
.bem/cache/
*.pages/*/*.*
!*.pages/*/*.bemjson.js
!*.pages/*/*.html
!*.pages/*/_*.js
!*.pages/*/_*.css
*.pages/*/_*.bemhtml.js
!*.pages/.bem/*
.libs-*/

/*.docs
/*.examples
/*.specs
/*.tests
/*.sets
/*.tmpl-specs
