// 16px = 1rem
remify(value) {
    u = unit(value);

    if (u is 'px') {
        return unit(value/16, 'rem');
    } else {
        return unit(value, u);
    }
}

font_family      = Helvetica, Arial, sans-serif;
font_size_val    = 16;
font_size        = unit(font_size_val, 'px');
line_height      = 20 / font_size_val;
base_font_size   = remify(font_size);
base_line_height = remify(unit(floor(font_size_val * line_height), 'px'));

h_font_family    = font_family;
h_font_weight    = 500;

// headings step 0.375 = 6px

h1_lines         = 3;
h1_line_height   = base_line_height * h1_lines;
h1_font_size     = base_font_size * h1_lines;
h1_margin_top    = 2 * base_font_size;
h1_margin_bottom = 1 * base_font_size;

h2_lines         = 2.625;
h2_line_height   = base_line_height * h2_lines;
h2_font_size     = base_font_size * h2_lines;
h2_margin_top    = 2 * base_font_size;
h2_margin_bottom = 1 * base_font_size;

h3_lines         = 2.25;
h3_line_height   = base_line_height * h3_lines;
h3_font_size     = base_font_size * h3_lines;
h3_margin_top    = 2 * base_font_size;
h3_margin_bottom = 1 * base_font_size;

h4_lines         = 1.875;
h4_line_height   = base_line_height * h4_lines;
h4_font_size     = base_font_size * h4_lines;
h4_margin_top    = 2 * base_font_size;
h4_margin_bottom = 1 * base_font_size;

p_lead_font_size = base_font_size * 1.25;
p_margin_top     = base_line_height;
p_margin_bottom  = base_line_height;

source_padding  = 0;

q_padding       = 10px 20px;
q_margin        = 0 0 20px;
q_font_size     = base_font_size * 1.25;
